[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {git = "git+https://github.com/huggingface/transformers"}
accelerate = {git = "git+https://github.com/huggingface/accelerate"}
peft = {git = "git+https://github.com/huggingface/peft"}
trl = {git = "git+https://github.com/huggingface/trl"}
flash-attn = "*"
huggingface-hub = "*"
evaluate = "*"
datasets = "*"
bitsandbytes = "*"
einops = "*"
wandb = "*"
tensorboard = "*"
tiktoken = "*"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.10"
