git+https://github.com/huggingface/transformers
accelerate
git+https://github.com/huggingface/peft
git+https://github.com/huggingface/trl
flash-attn
huggingface-hub
evaluate
datasets
bitsandbytes
einops
wandb
tensorboard
tiktoken
pandas
numpy
scipy
matplotlib
sentencepiece
ipykernel